.item{
    display: grid;
    grid-template-columns: 1fr 200px;
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none;
}

.delete-button{
    background-color: rgb(214, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    transition: background-color ease 200ms;
}
.delete-button:hover{
    background-color: rgb(189, 0, 0);
}

.delete-button:active{
    background-color: rgb(167, 0, 0);
}


.item:nth-child(even) .delete-button{
    background-color: rgb(175, 0, 0);
}

.item:nth-child(even) .delete-button:hover{
    background-color: rgb(138, 0, 0);
}

.item:nth-child(even) .delete-button:hover{
    background-color: rgb(124, 0, 0);
}

.item-text{
    padding: 20px;
    font-size: 20px;
    border-left: 4px solid rgb(238, 238, 238);
}
.item-text.done{
    background-color: rgb(168, 227, 168) !important;
}
.item:nth-child(odd) .item-text.done{
    background-color: rgb(156, 210, 156) !important;
}

.item:nth-child(odd) .item-text{
    background-color: rgb(238, 238, 238);
}
.item:last-child .item-text{
    border-bottom: 4px solid rgb(238, 238, 238);
}
del{
    text-decoration: none;
    position: relative;
    padding-left: 30px;
}
del:before{
    content: '✅ ';
    position: absolute;
    left: 0;
    top: -2px;
}